{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'students/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'students/css/index.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


    <title>Student Management System</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
        <div class="container">
            <a class="navbar-brand" href="{% url 'students:index' %}"><i class="fa-solid fa-graduation-cap"></i> Student
                Management System</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa-solid fa-bars fs-lg "></i>
                <!-- <span class="navbar-toggler-icon"></span> -->
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'students:dashboard' %}">Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link-light" href="{% url 'students:students_list' %}">Students</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'students:add' %}" class="nav-link link-light">
                            <i class="fa-solid fa-plus fs-lg pe-2"></i>Add Student</a>
                    </li>
                </ul>
                {% if user.is_authenticated %}
                <div class="dropdown">
                    <img src="{% static 'students/images/mainawambui.jpg' %}" class="img-fluid rounded-circle"
                        style="width: 40px; height: 40px;" alt="...">
                    <span class="px-2 text-light " data-bs-toggle="dropdown" role="button" aria-haspopup="true"
                        aria-expanded="true">{{user.username}}</span>
                    <div class="dropdown-menu text-bg-light "
                        style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate(0px, 42px);"
                        data-popper-placement="bottom-start">
                        <a class="dropdown-item text-bg-light" href="{% url 'users:logout' %}">Logout</a>
                    </div>
                </div>
                {% else %}
                <div class="">
                    <a class="btn text-bg-light me-4" href="{% url 'users:login' %}">Log in</a>
                    <a class="btn text-bg-light" href="{% url 'users:register' %}">Register</a>
                </div>
                {% endif %}

            </div>
        </div>
    </nav>

    <!-- Flash message -->
    {% include 'students/message.html' %}

    <!-- insert page content -->
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    <!-- footer -->
    <footer class="bg-dark fixed-bottom text-light">
        <div class="container">
            <p class="text-center pt-2">copyright &copy; 2023 Isaac Maina</p>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="{% static 'students/js/index.js' %}"></script>
</body>

</html>