<!-- search results page  -->
{% extends 'students/base.html' %}

{% block content %}
<div class="">
    {% include 'students/search_filter.html' %}
    <div class="table-responsive ">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Registration no</th>
                    <th scope="col">First name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Field of study</th>
                    <th scope="col">year of study</th>
                    <th scope="col">Status</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody class="">
                {% for student in search_query %}
                <tr class="table-secondary">
                    <th scope="row">{{ student.registration_no}}</th>
                    <td>{{student.first_name}}</td>
                    <td>{{ student.email}}</td>
                    <td>{{ student.field_of_study}}</td>
                    <td>{{student.year_of_study}}</td>
                    <td>{{student.status}}</td>
                    <td>
                        <div class="d-flex column-gap-3">
                            <!-- <a href="#">view</a> -->
                            <a class="" href="{% url 'students:student-details' student.id %}" data-bs-toggle="modal"
                                data-bs-target="#student{{student.id}}"><i class="fa-solid fa-circle-info fa-lg"></i>
                            </a>
                            <a href="{% url 'students:edit_details' student.id %}" class=""><i
                                    class="fa-solid fa-pen-to-square fa-lg"></i></a>
                            <a class="" data-bs-toggle="modal" data-bs-target="#staticBackdrop{{student.id}}"><i
                                    class="fa-solid fa-trash-can fa-lg" style="color: rgb(175, 11, 11);"></i>
                            </a>
                        </div>
                    </td>
                </tr>

                <!-- Delete confirm Modal -->
                <div class="modal fade" id="staticBackdrop{{student.id}}" data-bs-backdrop="static"
                    data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="staticBackdropLabel">Confirm delete</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to delete this student?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>

                                <a type="button" class="btn btn-primary"
                                    href="{% url 'students:delete_student' student.id %}">Delete</a>

                                <!-- <button type="button" class="btn btn-primary">Delete</button> -->
                            </div>
                        </div>
                    </div>
                </div>

                <!-- View student details  Modal -->
                <div class="modal fade" id="student{{student.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Student Details</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <ul class="list-unstyled ">
                                    <li>Registration Number: <strong>{{student.registration_no }}</strong></li>
                                    <li>First Name: <strong>{{ student.first_name}}</strong></li>
                                    <li>Last Name: <strong>{{ student.last_name }}</strong></li>
                                    <li>Email: <strong>{{ student.email}}</strong></li>
                                    <li>Gender: <strong>{{ student.gender }}</strong></li>
                                    <li>Age: <strong>{{ student.age }}</strong></li>
                                    <li>Field of study: <strong>{{ student.field_of_study }}</strong></li>
                                    <li>Year Of Study: <strong>{{ student.year_of_study }}</strong></li>
                                    <li>Status: <strong>On {{ student.status }}</strong></li>
                                </ul>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

                {% empty %}
                <tr class="table-secondary">
                    <td class="">
                        <p class="">Sorry! the student does not exist. Please try searching another
                            name!
                        </p>
                    </td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
    <div class="text-center">
        <span>
            {% if page_obj.has_previous %}
            <a type="button" class="btn btn-dark btn-sm me-2" href="?page=1">&laquo; first</a>
            <a type="button" class="btn btn-dark btn-sm me-2"
                href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span>
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
            <a type="button" class="btn btn-dark btn-sm me-2" href="?page={{ page_obj.next_page_number }}">next</a>
            <a type="button" class="btn btn-dark btn-sm me-2" href="?page={{ page_obj.paginator.num_pages }}">last
                &raquo;</a>
            {% endif %}
        </span>
    </div>



</div>

{% endblock %}