{% extends 'students/base.html' %}

{% block content %}
<div class="">
    {% include 'students/search_filter.html' %}
    <div class="table-responsive ">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Registration no</th>
                    <th scope="col">First name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Field of study</th>
                    <th scope="col">year of study</th>
                    <th scope="col">Status</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody class="">
                {% for student in page_obj %}
                <tr class="table-secondary">
                    <th scope="row">{{ student.registration_no}}</th>
                    <td>{{student.first_name}}</td>
                    <td>{{ student.email}}</td>
                    <td>{{ student.field_of_study}}</td>
                    <td>{{student.year_of_study}}</td>
                    <td>{{student.status}}</td>
                    <td>Action</td>
                </tr>
                {% empty %}
                <p>There are no students added yet <a href="#">Add student</a></p>
                {% endfor %}

            </tbody>
        </table>
    </div>
    <div class="text-center">
        <span>
            {% if page_obj.has_previous %}
            <a type="button" class="btn btn-dark btn-sm me-2" href="?page=1">&laquo; first</a>
            <a type="button" class="btn btn-dark btn-sm me-2"
                href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span>
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
            <a type="button" class="btn btn-dark btn-sm me-2" href="?page={{ page_obj.next_page_number }}">next</a>
            <a type="button" class="btn btn-dark btn-sm me-2" href="?page={{ page_obj.paginator.num_pages }}">last
                &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock %}